# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.eggs/

# Environments
.env
.venv
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Alembic compiled
alembic/__pycache__/

# IDE
.idea/
.vscode/
*.swp

# Docker
*.log
